* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #253858;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #253858;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #42526E;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}


@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}
::placeholder {
  color: #C0CCDA;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #C0CCDA;
}

::-ms-input-placeholder {
  color: #C0CCDA;
}
header{
	height: 70px;
	background: #fff;
	margin-left: 60px;
}
header section.wrapper{
	display: flex;
	justify-content: space-between;
	height: 100%;

}
header div.left{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
}
header div.left h1{
	width: 200px;
	margin-right: 30px;
	margin-left: 0;
}
header div.left h1 a{
	display: block;

}
header div.left h1 a img{
	display: block;
	width: 100%;
}
header div.left ul{
	display: flex;

}
header div.left ul li{
	margin-right: 30px;

}
header div.left ul li:last-child{
	margin: 0;
}

header div.left ul li a{
	font-size: 18px;
	color:#0052cc ;
	font-weight: 500;
	display: inline-block;
}
header nav.right{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	

}
header nav.right ul{
	display: flex;
	margin-left: 100px;
}
header nav.right ul li{
	margin-right: 30px;

}
header nav.right ul li a{
	font-size: 18px;
	color:#0052cc ;
	font-weight: 600;



}
header nav.right ul li a.button{
	font-size: 18px;
	color:#0052cc ;
	font-weight: 600;
	border: #0052cc solid 1px;
	padding: 5px;
	border-radius: 4px;


}
#sportlight{
	background: #f4f5f7;
	padding: 40px 0;

}
#sportlight section.container{
	width: 70%;
	margin: 0 auto;
	text-align: center;


}
#sportlight section.container h1{
	font-size: 44px;
	margin-bottom: 16px;
	font-weight: 600;


}
#sportlight section.container p{
	font-size: 20px;
	margin-bottom: 25px;
}
#sportlight section.container a.button{
	font-weight: 510;
	font-size: 16px;
	display: inline-block;
	margin-bottom: 24px;
	color: #fff;
	padding: 10px;
	background: #0052cc;
	border-radius: 5px;
}
#sportlight section.container span.label{
	display: block;
	font-size: 16px;
	margin-bottom: 24px;
	font-weight: 500;


}
#sportlight section.container span.label a{
	color: #0052cc;
	font-weight: 500;
	display: inline-block;
	font-size: 16px	;
	margin-left: 10px;



}
#sportlight section.container span.label a img{

}
#sportlight section.container img.sportlight_image{
	display: block;
	width: 100%;


}
#features{

}
#features img.curve{
	display: block;
	width: 100%;
	transform: rotate(-180deg);


}
#features section.wrapper{

}
#features ul{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;

}
#features ul li{
	width: 32%;
	text-align: center;

}
#features ul li img{
	height: 140px;
	display: inline-block;
	margin-bottom: 16px;

}
#features ul li h3{
	margin-bottom: 16px;
	font-size: 24px;
	font-weight: 700;

}
#features ul li p{
	font-size: 16px;
	font-weight: 500;

}
#highlights{
	margin-top: 80px;
}
#highlight section.wrapper{
}
#highlights section.item{
	margin-bottom: 80px;
	display: flex;



}
#highlights section.item div.img_container{
	width: 65%;
}
#highlights section.item div.img_container img{
	width: 100%;
	display: block;
}

#highlights section.item div.content_box{
	width: 35%;
	padding-top: 20px;

}
#highlights section.item div.content_box span.label{
	display: block;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
}
#highlights section.item div.content_box h1{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 24px;


}
#highlights section.item div.content_box p {
	font-size: 20px;
	margin-bottom: 24px;
}
#highlights section.item div.content_box a.button{
	font-size: 16px;
	color:#0052cc ;
	font-weight: 500;

}



#highlights section.item div.content_box a.button img{
	display: inline-block;
	margin-left: 10px;
}
#resource{
	background: #f4f5f7;
	padding: 50px 60px;

}
#resource section.wrapper {

}
#resource section.top  {
	text-align: center;

}
#resource section.top h3 {
	font-size: 44px;
	font-weight: 700;
	margin-bottom: 16px;


}
#resource section.top p  {
	font-size: 20px;

}
#resource section.top ul  {
	display: flex;
	justify-content: space-between;
	width: 75%;
	margin: 30px auto 0;


}
#resource section.top ul li {
	background: #fff;
	width: 48%;
	text-align: left;
	padding: 40px;



}
#resource section.top ul li img{
	height: 100px;
	display: inline-block;
	margin-bottom: 16px;


}

#resource section.top ul li h4{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 16px;

}
#resource section.top ul li p{
	font-size: 16px;
	margin-bottom: 24px;
	font-weight: 500;

}
#resource section.top ul li a.button{
	color: #0052cc;
	font-size: 16px;
	font-weight: 500;
	



}
#resource section.top ul li a.button img{
	width: 20px;
	height: 20px;
	margin: 35px 0px 0 5px;



}
#resource section.bottom{
	text-align: center;
	margin-top: 60px;
}
#resource section.bottom h3{
	margin-bottom: 30px;
	font-size: 32px;
	font-weight: 700;



}
#resource section.bottom p{
	margin-bottom: 16px;
	font-size: 20px;
	font-weight: 500;

}
#resource section.bottom ul{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;


}
#resource section.bottom ul li{
	width: 31%;
	text-align: left;


}
#resource section.bottom ul li img{
	height: 90px;
	display: inline-block;
	margin-bottom: 16px;

}
#resource section.bottom ul li h4{
	margin-bottom: 16px;
	font-size: 24px;
	font-weight: 600;

}
#resource section.bottom ul li p{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 16px;


}
#resource section.bottom ul li a.button{
	display: inline-block;
	color: #0052cc;
	font-size: 16px;

}
#resource section.bottom ul li a.button img{

	width: 20px;
	height: 20px;
	margin: 35px 0px 0 5px;

}
#brand{
	text-align: center;
}
#brand img{
	display: block;
	width: 100%;
	transform: rotate(-180deg);

}
#brand section.wrapper{

}
#brand section.container{
	margin-top: 60px;
	border-bottom: 2px solid #dfe1e5;
	padding-bottom: 60px;




}
#brand section.container h3{
	font-size: 40px;
	font-weight: 600;
	width: 60%;
	margin: 0 auto 30px;

}
#brand section.container img{
	display: block;
	max-width:  100%;
	transform: rotate(0deg);
	
}
#pricing{
	padding: 50px 0;
}
#pricing section.wrapper{

}
#pricing section.top{

}
#pricing section.top h3	{
	font-size: 36px;
	font-weight: 600;
	width: 50%;
	margin: 0 auto 30px;
	display: block;
	text-align: center;

}
#pricing section.top ul{
	display: flex;
	justify-content:space-between ;
	margin-bottom: 30px;

}
#pricing section.top ul li{
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
	width: 32%;
	background: #fff;
}
#pricing section.top ul li div.title{
	padding: 24px 12px;
	border-bottom: 2px solid #f4f5f7;

}
#pricing section.top ul li div.title_bg{
	background: #f4f5f7;
	padding: 24px 12px;

}
#pricing section.top ul li div.title_bg h5{
	font-size: 24px;
	font-weight: 600;
}

#pricing section.top ul li div.title h5{
	font-size: 24px;
	font-weight: 600;

}
#pricing section.top ul li div.content{
	padding: 40px 0;
	text-align: center;

}
#pricing section.top ul li div.content h3	{
	font-size: 44px;
	font-weight: 700;

}
#pricing section.top ul li div.content span.user{
	display: block;
	text-align: center;
	margin-top: -30px;
	font-size: 20px;
	font-weight: 500;


} 
#pricing section.top ul li div.content small{
	display: block;
	font-size: 14px;
	margin-bottom: 32px;

}
#pricing section.top ul li div.content a.button{
	display: inline-block;
	padding: 12px 24px ;
	color: #0052cc;
	border:1px solid #0052cc  ;
	border-radius: 4px;
	margin-bottom: 24px;

}
#pricing section.top ul li div.content span.label{
	display: block;
	font-size: 16px;
	font-weight: 500;
}
#pricing section.top ul li div.content a.button_fill{
	background: #0052cc;
	padding: 12px 24px ;
	margin-bottom: 24px;
	border-radius: 4px;
	display: inline-block;
	color: #fff;


}
#pricing section.top div.bottom{
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
	padding: 24px;
	text-align: center;

}
#pricing section.top  div.bottom p{
	font-weight: 500;

}
#pricing section.top  div.bottom p a{
	font-size: 16px;
	color: #0052cc;
	font-weight: 500;


}
#pricing section.top div.bottom p b{
	font-size: 16px;
	font-weight: 700;
	margin-right: 14px;
}
#pricing section.bottom {
	padding: 30px 0;
	text-align: center;

}
#pricing section.bottom a.label  {
	display: block;
	color: #0052cc;
	font-weight: 500;

}
#pricing section.bottom div.content  {
	background: #f4f5f7;
	padding:64px ;
	widows: 85%;
	margin: 90px auto 0;



}
#pricing section.bottom div.content div.item {
	display: flex;
	margin-bottom: 40px;
	justify-content: space-between;


}
#pricing section.bottom div.content div.item  div.left{
	width: 160px;

}
#pricing section.bottom div.content div.item  div.left img{
	width: 100%;
	display: block;

}
#pricing section.bottom div.content div.item  div.right {
	width: calc(100% - 100px);
	text-align: left;
	margin-left: 40px;


}
#pricing section.bottom div.content div.item  div.right h3	{
	font-size: 36px;
	margin-bottom: 24px;
	font-weight: 600;

}

#pricing section.bottom div.content div.item  div.right p	{
	font-size: 16px;
	margin-bottom: 24px;


}
#pricing section.bottom div.content div.item  div.right a.button	{
	color: #0052cc;
	font-weight: 500;

}
#pricing section.bottom div.content div.item  div.right a.button img{

}
#banner{
	min-height: 300px;
	background-image: url(../images/left_bottom_hero.png),url(../images/right_bottom_hero.png);
	background-repeat: no-repeat,no-repeat;
	background-position: bottom left , bottom right;
	background-size:600px 300px , 600px 300px ;\
}
#banner section.wrapper{
	text-align: center;


}
#banner h3{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 24px;


}
#banner a.button{
	padding: 12px 24px;
	background: #0052cc;
	border: 1px solid #0052cc;
	color: #fff;
	font-weight: 600;
	border-radius: 4px;
	display: inline-block;

}
#footer{
	background: #f4f5f7;



}
#footer section.wrapper{

}
#footer  section.top {
	padding: 64px 0 24px ;
	display: flex;
	justify-content: space-between;

}
#footer  section.top div.item{
	width:7%

}
#footer  section.top div.item h3	{
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 24px;

}
#footer  section.top div.item ul{

	align-items: left;
	display: block;


}
#footer  section.top div.item ul li{
	margin-bottom: 8px;

	align-items: left;

}
#footer  section.top div.item ul li a{
	font-size: 14px;
	font-weight: 500;
	display: inline-block;

}
#footer  section.top div.item_large{
	width: 50%;

}
#footer  section.top div.item_large h3	{
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 24px;


}
#footer  section.top div.item_large p{
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 24px;

}
#footer  section.top div.item_large form{
	display: flex;
	justify-content: space-between;



}
#footer  section.top div.item_large form input[type="email"] {
	width: 100%;
	margin-right: 24px;
	padding: 12px 24px;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #c1c7d0;
	font-size: 16px;



}
#footer  section.top div.item_large form input[type="submit"] {
	display: inline-block;
	padding: 12px 20px;
	color: #0052cc;
	border: 1px solid #0052cc;
	border-radius: 4px;font-size: 16px;
	cursor: pointer;
	
}
#footer   div.social {
	display: flex;
	justify-content: flex-end;
	margin-top: 24px;

}
#footer   div.social p{
	margin-right: 40px;
	font-weight: 200;

}
#footer   div.social ul{
	display: flex;
	align-items: center;

}
#footer   div.social ul li{
	margin-right: 8px;

}
#footer   div.social ul li a{
	width: 32px;
	display: block;

}
#footer   div.social ul li a img{
	display: block;
	width: 100%;
	margin-top: -90px;

}
#footer  section.bottom {
	display: flex;
	justify-content: space-between;
	padding: 24px 0 40px;

}
#footer  section.bottom div.left {

}
#footer  section.bottom div.left  div.top{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 24px;

}
#footer  section.bottom div.left  div.top h1{
	width: 120px;
	margin-right: 24px;

}
#footer  section.bottom div.left  div.top h1 a{
	width: 100%;
	display: block;


}
#footer  section.bottom div.left  div.top h1 a img{
	width: 100%;
	display: block;
}
#footer  section.bottom div.left  div.top ul{
	display: flex;

}
#footer  section.bottom div.left  div.top ul li{
	margin-right: 10px;

}
#footer  section.bottom div.left  div.top ul p{
	font-weight: 700;

}

#footer  section.bottom div.left  div.top ul li a{
	font-weight: 500;

}
#footer  section.bottom div.left  div.bottom form{

}
#footer  section.bottom div.left  div.bottom form select{

}
#footer  section.bottom div.left  div.bottom form select option{

}
#footer  section.bottom div.right {

}
#footer  section.bottom div.right a{
	color: #403294;
	font-size: 16px;

}
#footer  section.bottom div.right a img{

}
@media all and (max-width:1280px){
	header div.left ul {
    display: none;
}
#sportlight section.container p{
	font-size: 15px;
}
#highlights section.item div.img_container{
	width: 50%;
}
#highlights section.item div.content_box{
	padding-left: 30px;
}
}
@media all and (max-width:980px){
	#highlights section.item{
		flex-direction: column;
	}
		#highlights section.item:nth-child(2){
			flex-direction: column-reverse;
	}

	#highlights section.item div.img_container{
		width: 100%;
	}
	#highlights section.item div.content_box{
		width: 100%;
	}
	#brand section.container h3{
		font-size: 30px;
	}
	#pricing section.top h3{
		width: 100%;
	}
	#footer section.bottom{
		flex-direction: column-reverse;
	}
	#footer section.bottom div.left{
		width: 100%;
	}
	#footer section.bottom div.right{
		width: 100%;
		margin-bottom: 24px;

	}

}
@media all and (max-width:768px){
	#features ul li{
		width: 50%;
		margin-bottom: 40px;
	}
	#features ul{
		flex-wrap: wrap;
		justify-content: center;
	}
	#resource section.top ul li {
		width: 100%;
}
#resource section.bottom ul li{
	width: 48%;
	margin-bottom: 40px;
}
#resource section.bottom ul{
	flex-wrap: wrap;
	justify-content: center;
}
#brand section.container h3{
	width: 90%;
	font-size: 36px;
}
#pricing section.top h3{
	font-size: 30px;
}
#pricing section.top ul{
	flex-wrap: wrap;
	justify-content: center;
}
#pricing section.top ul li {
	width: 48%;
	margin-bottom: 40px;

}
#pricing section.bottom div.content div.item div.left {
	width: 100px;
}
#banner{
    background-image: url(../images/left_bottom_hero.png);
    background-repeat: no-repeat;
    background-position: bottom left ;
    background-size: 600px 300px ;

}
#footer section.top div.item:nth-child(2){
	display: none;
}
#footer div.social ul li{
	width: 40px;
}
#footer section.bottom div.left div.top ul li{
	width: 100px;
}
header nav.right ul li{
	margin: 0;
}
header nav.right ul li a.button{
	margin-left: 30px;
}
#sportlight section.container h1{
	font-size: 36px;
}
#pricing section.bottom div.content div.item{
	flex-wrap: wrap;
	justify-content: center;

}
#pricing section.bottom div.content div.item div.left
	width: 50;
	margin-bottom: 40px;
}
#footer section.bottom div.left div.top ul{
	flex-wrap: nowrap;
}
@media all and (max-width:640px){
	header nav.right ul {
		display: none;
	}
	#sportlight section.container h1{
		font-size: 24px;
	}
	#sportlight section.container span.label a {
		font-size: 13px;
}
#sportlight section.container span.label  {
	font-size: 13px;
}
#features ul li{
	width: 100%;
}
#resource section.top ul {
	width: 100%;
}
#resource section.bottom ul li{
	width: 100%;
}
#brand section.container h3 {
	font-size: 24px;
}
#pricing section.top ul li{
	width: 100%;
}
#banner h3{
	font-size: 24px;
}
#footer div.social ul li a{
	width: 24px;
}
#pricing section.bottom div.content div.item div.right{
	width: 100%;
}
}
@media all and (max-width:480px){
	#footer section.bottom div.left div.top ul{
		flex-wrap: wrap;
	}
	#footer section.top{
		display: block;
	}
	#footer section.top div.item_large form{
		display: block;
	}
	#footer section.top div.item_large form input[type="email"]{
		margin-bottom: 30px;
	}
	#resource section.top h3{
		font-size: 36px;
	}

}
@media all and (max-width:320px){

}




































































